# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js
/.next/
/out/
next-env.d.ts

# Production
/build

# Environment variables (JANGAN commit kunci rahsia)
.env
.env.local
.env*.local

# Nota kata laluan / rahsia tempatan
password.txt
*.secret.txt

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
